.header-btn {
  align-items: center;
  gap: calc(var(-spacing)*2);
  padding-inline: calc(var(--spacing)*6);
  padding-block: calc(var(--spacing)*2);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-shadow: 0 10px 15px -3px #000001a, 0 4px 6px -4px #000001a;
  box-shadow: var(--tw-shadow);
  transition-property: all;
  --tw-duration: 0.3s;
  --tw-ease: var(--ease-in-out);
  transition-duration: 0.3s;
  transition-timing-function: var(--ease-in-out);
  border-radius: 3.40282e38px;
  text-decoration-line: none;
  display: inline-flex;
}
